* {
    margin: 0;
    padding: 0;
    font-family: playfair display, serif;
    box-sizing: border-box;
}
body {
    background: #F4EEDC;
    color: #000;
}
#header{
    width: 100%;
    height: 100vh;
background-image: url(Assets/1000027504.png);
}
